.version.index /* version checker */
{
	color: #0000EF;
	background-color: #5C1D39;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 587px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2776px;
	padding-top: 627px;
	width: 0.01px;
}

#u75-13
{
	z-index: 10;
	width: 133px;
	min-height: 100px;
	background-color: transparent;
	font-size: 28px;
	line-height: 34px;
	font-style: normal;
	position: fixed;
	top: 20px;
	left: 25px;
}

#u75,#u75-7
{
	text-decoration: underline;
}

#pu208
{
	width: 0.01px;
	margin-left: -101px;
}

#u208
{
	z-index: 8;
	width: 666px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-248,914);
	-ms-transform: matrix(0,-1,1,0,-248,914);
	transform: matrix(0,-1,1,0,-248,914);
	margin-bottom: -248px;
	position: relative;
	margin-right: -10000px;
	margin-top: -248px;
	left: 248px;
}

#u186-6
{
	z-index: 23;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 81px;
}

#u186,#u186-3
{
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
}

#u188
{
	z-index: 29;
	width: 1083px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 79px;
}

#u120
{
	z-index: 56;
	width: 300px;
	min-height: 35px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 80px;
}

#pu197
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: -1px;
}

#u197
{
	z-index: 30;
	width: 1162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u197_clip
{
	overflow: hidden;
	width: 1162px;
	height: 678px;
}

#u197_img
{
	margin-top: -92px;
	margin-bottom: -1px;
}

#u189
{
	z-index: 32;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 55px;
}

#u195-6
{
	z-index: 35;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 71px;
}

#u196
{
	z-index: 53;
	width: 1090px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 632px;
	left: 71px;
}

#pu230
{
	width: 0.01px;
	margin-left: -103px;
	margin-top: 1px;
}

#u230
{
	z-index: 4;
	width: 1159px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u230_clip
{
	overflow: hidden;
	width: 1159px;
	height: 668px;
}

#u230_img
{
	margin-left: -28px;
}

#u221
{
	z-index: 6;
	width: 305px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 539px 802px 46px 56px;
}

#u226
{
	z-index: 33;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u228-6
{
	z-index: 41;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	margin-left: 16px;
	margin-top: 12px;
	position: relative;
}

#u229
{
	z-index: 54;
	width: 1090px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 618px;
	left: 73px;
}

#pu243
{
	width: 0.01px;
	margin-left: -105px;
	margin-top: -4px;
}

#u243
{
	z-index: 2;
	width: 1165px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u239
{
	z-index: 7;
	width: 1163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u239_position_content
{
	margin-bottom: -12px;
	padding-top: 597px;
}

#u259
{
	z-index: 34;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 56px;
	position: relative;
}

#u261-6
{
	z-index: 47;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	margin-left: 72px;
	margin-top: 12px;
	position: relative;
}

#u262
{
	z-index: 55;
	width: 1090px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 676px;
	left: 75px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 2049px;
}

#page .verticalspacer
{
	clear: both;
}

