.version.index /* version checker */
{
	color: #000019;
	background-color: #FEDD81;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 300px;
	min-height: 344px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 21px 136px 639px;
}

#u75-6
{
	z-index: 2;
	width: 76px;
	min-height: 100px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 25px;
}

#u120
{
	z-index: 8;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u149
{
	z-index: 9;
	width: 272px;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 77px;
	position: relative;
}

#u149_clip
{
	overflow: hidden;
	width: 272px;
	height: 233px;
}

#u149_img
{
	margin: -5px 3px -7px 24px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

