.version.index /* version checker */
{
	color: #00001D;
	background-color: #7CB5C6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1382px;
	padding-top: 540px;
	width: 0.01px;
}

#u75-8
{
	z-index: 4;
	width: 76px;
	min-height: 100px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 25px;
}

#pu208
{
	width: 0.01px;
	margin-left: -101px;
}

#u208
{
	z-index: 2;
	width: 666px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-248,914);
	-ms-transform: matrix(0,-1,1,0,-248,914);
	transform: matrix(0,-1,1,0,-248,914);
	margin-bottom: -248px;
	position: relative;
	margin-right: -10000px;
	margin-top: -248px;
	left: 248px;
}

#u186-6
{
	z-index: 12;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 81px;
}

#u186,#u186-3
{
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
}

#u188
{
	z-index: 18;
	width: 1083px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 79px;
}

#u120
{
	z-index: 29;
	width: 300px;
	min-height: 35px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 80px;
}

#pu197
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: -1px;
}

#u197
{
	z-index: 19;
	width: 1162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u197_clip
{
	overflow: hidden;
	width: 1162px;
	height: 678px;
}

#u197_img
{
	margin-top: -92px;
	margin-bottom: -1px;
}

#u189
{
	z-index: 21;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 55px;
}

#u195-6
{
	z-index: 22;
	width: 289px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 71px;
}

#u196
{
	z-index: 28;
	width: 1090px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 632px;
	left: 71px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1340px;
}

#page .verticalspacer
{
	clear: both;
}

