.version.index /* version checker */
{
	color: #00001A;
	background-color: #A7A2EE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 589px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -4594px;
	padding-top: 555px;
	width: 0.01px;
}

#u177-16
{
	z-index: 14;
	width: 148px;
	min-height: 100px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	position: fixed;
	top: 37px;
	left: 40px;
}

#u177
{
	text-decoration: underline;
}

#u177-8
{
	text-decoration: underline;
	line-height: 20px;
}

#u177-5,#u177-9
{
	line-height: 20px;
}

#u177-7,#u177-11,#u177-14
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u177-12
{
	font-style: italic;
	line-height: 20px;
}

#u177-6,#u177-10,#u177-13
{
	font-size: 10px;
	line-height: 12px;
}

#pu423
{
	width: 0.01px;
	padding-bottom: 44px;
	margin-left: 24px;
}

#u423
{
	z-index: 2;
	width: 477px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,73,404);
	-ms-transform: matrix(0,-1,1,0,73,404);
	transform: matrix(0,-1,1,0,73,404);
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: -73px;
}

#u423_clip
{
	overflow: hidden;
	width: 477px;
	height: 332px;
}

#u423_img
{
	margin-right: -357px;
}

#u440
{
	z-index: 34;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 7px;
}

#u447
{
	z-index: 35;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 7px;
}

#u442-8
{
	z-index: 67;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 14px;
}

#pu295
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 94px;
}

#u295
{
	z-index: 8;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u295_clip
{
	overflow: hidden;
	width: 380px;
	height: 451px;
}

#u295_img
{
	margin-left: -95px;
	margin-right: -89px;
}

#u305
{
	z-index: 33;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 30px;
}

#u307-8
{
	z-index: 59;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 37px;
}

#pu410
{
	width: 0.01px;
	margin-top: 93px;
}

#u410
{
	z-index: 4;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u410_clip
{
	overflow: hidden;
	width: 380px;
	height: 580px;
}

#u410_img
{
	margin-left: -167px;
	margin-right: -234px;
}

#u418
{
	z-index: 36;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 31px;
}

#u420-8
{
	z-index: 75;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 38px;
}

#u277
{
	z-index: 12;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u277_clip
{
	overflow: hidden;
	width: 380px;
	height: 583px;
}

#u277_img
{
	margin-left: -105px;
	margin-right: -352px;
}

#u286
{
	z-index: 37;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 30px;
}

#u288-8
{
	z-index: 83;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 38px;
}

#pu280
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 28px;
}

#u280
{
	z-index: 10;
	width: 383px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u280_clip
{
	overflow: hidden;
	width: 383px;
	height: 521px;
}

#u280_img
{
	margin: -78px -527px 4px -149px;
}

#u292
{
	z-index: 38;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 33px;
}

#u294-8
{
	z-index: 91;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 40px;
}

#pu316
{
	width: 0.01px;
	margin-left: -3px;
	margin-top: -5px;
}

#u316
{
	z-index: 6;
	width: 384px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u316_clip
{
	overflow: hidden;
	width: 384px;
	height: 627px;
}

#u316_img
{
	margin-left: -111px;
	margin-right: -133px;
	margin-bottom: -1px;
}

#u327
{
	z-index: 39;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 33px;
}

#u329-8
{
	z-index: 99;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 41px;
}

#pu277,#pu203
{
	width: 0.01px;
	margin-top: 1px;
}

#u203
{
	z-index: 30;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u206
{
	z-index: 32;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 32px;
}

#u220-8
{
	z-index: 51;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 39px;
}

#pu404
{
	width: 0.01px;
	padding-bottom: 107px;
	margin-left: -2px;
}

#u404
{
	z-index: 40;
	width: 597px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,107,489);
	-ms-transform: matrix(0,-1,1,0,107,489);
	transform: matrix(0,-1,1,0,107,489);
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: -107px;
}

#u407
{
	z-index: 42;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 36px;
}

#u409-8
{
	z-index: 43;
	width: 337px;
	min-height: 43px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 45px;
}

#u409,#u409-3,#u409-5
{
	font-family: Courier New, Courier, monospace;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 4595px;
}

#page .verticalspacer
{
	clear: both;
}

