.version.index /* version checker */
{
	color: #000010;
	background-color: #CCE2C5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9288159937107px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1176px;
	padding-top: 570px;
	width: 0.01px;
}

#u177-8
{
	z-index: 2;
	width: 76px;
	min-height: 100px;
	background-color: transparent;
	position: fixed;
	top: 37px;
	left: 40px;
}

#pu178
{
	width: 0.01px;
	padding-bottom: 107px;
	margin-left: -1px;
}

#u178
{
	z-index: 10;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 49px;
}

#u214
{
	z-index: 14;
	width: 597px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,107,489);
	-ms-transform: matrix(0,-1,1,0,107,489);
	transform: matrix(0,-1,1,0,107,489);
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: -107px;
}

#u217
{
	z-index: 16;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 36px;
}

#u219-8
{
	z-index: 17;
	width: 337px;
	min-height: 43px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 45px;
}

#u219,#u219-3,#u219-5
{
	font-family: Courier New, Courier, monospace;
}

#pu203
{
	width: 0.01px;
	margin-top: -1px;
}

#u203
{
	z-index: 11;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u206
{
	z-index: 13;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 31px;
}

#u220-8
{
	z-index: 25;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 38px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 1177px;
}

#page .verticalspacer
{
	clear: both;
}

