.version.index /* version checker */
{
	color: #0000E5;
	background-color: #0354A3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -2933px;
	padding-top: 621px;
	width: 0.01px;
}

#u177-13
{
	z-index: 8;
	width: 148px;
	min-height: 100px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	position: fixed;
	top: 37px;
	left: 40px;
}

#u177,#u177-7
{
	text-decoration: underline;
}

#pu295
{
	width: 0.01px;
	margin-left: -94px;
}

#u295
{
	z-index: 2;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u305
{
	z-index: 25;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 125px;
}

#u307-8
{
	z-index: 47;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 132px;
}

#pu203
{
	width: 0.01px;
	margin-top: 93px;
}

#u203
{
	z-index: 22;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u206
{
	z-index: 24;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 31px;
}

#u220-8
{
	z-index: 39;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 38px;
}

#pu277
{
	width: 0.01px;
	margin-top: 1px;
}

#u277
{
	z-index: 6;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u277_clip
{
	overflow: hidden;
	width: 380px;
	height: 583px;
}

#u277_img
{
	margin-left: -105px;
	margin-right: -352px;
}

#u286
{
	z-index: 26;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 30px;
}

#u288-8
{
	z-index: 55;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 371px;
	left: 38px;
}

#pu280
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 28px;
}

#u280
{
	z-index: 4;
	width: 383px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u280_clip
{
	overflow: hidden;
	width: 383px;
	height: 521px;
}

#u280_img
{
	margin: -78px -527px 4px -149px;
}

#u292
{
	z-index: 27;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 33px;
}

#u294-8
{
	z-index: 63;
	width: 342px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 40px;
}

#pu178
{
	width: 0.01px;
	padding-bottom: 107px;
	margin-left: -2px;
	margin-top: 28px;
}

#u178
{
	z-index: 21;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 49px;
}

#u214
{
	z-index: 28;
	width: 597px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,107,489);
	-ms-transform: matrix(0,-1,1,0,107,489);
	transform: matrix(0,-1,1,0,107,489);
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: -107px;
}

#u217
{
	z-index: 30;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 36px;
}

#u219-8
{
	z-index: 31;
	width: 337px;
	min-height: 43px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 45px;
}

#u219,#u219-3,#u219-5
{
	font-family: Courier New, Courier, monospace;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 2934px;
}

#page .verticalspacer
{
	clear: both;
}

